<div th:fragment="sidebar" th:remove="tag">
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard">
			<div class="sidebar-brand-icon"><!-- rotate-n-15 -->
				<i class="fas fa-history"></i>
			</div>
			<div class="sidebar-brand-text mx-3">TARS</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active">
			<a class="nav-link" href="dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span>
			</a>
		</li>
		
		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">Services</div>

		<!-- Nav Item -->
		<li class="nav-item">
			<a class="nav-link" href="listEntries">
				<i class="fas fa-fw fa-tasks"></i>
				<span>Archive</span>
			</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="listProjects">
				<i class="fas fa-fw fa-chart-area"></i>
				<span>Projects</span>
			</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="listCategories">
				<i class="fas fa-fw fa-tags"></i>
				<span>Categories</span>
			</a>
		</li>
		
		<li class="nav-item" sec:authorize="hasRole('ADMIN')">
			<a class="nav-link" href="listUsers">
				<i class="fas fa-fw fa-users"></i>
				<span>User Management</span>
			</a>
		</li>
		
		<li class="nav-item" sec:authorize="hasRole('ADMIN')">
			<a class="nav-link" href="listSecurityMessages">
				<i class="fas fa-fw fa-user-shield"></i>
				<span>Security Messages</span>
			</a>
		</li>
		
		<!-- Nav Item - User Collapse Menu -->
<!-- 		<li class="nav-item" sec:authorize="hasRole('ADMIN')"> -->
<!-- 			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages"> -->
<!-- 				<i class="fas fa-fw fa-cogs"></i> -->
<!-- 				<span>Tools</span> -->
<!-- 			</a> -->
<!-- 			<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar"> -->
<!-- 				<div class="bg-white py-2 collapse-inner rounded"> -->
<!-- 					<h6 class="collapse-header">Software</h6> -->
<!-- 					<a class="collapse-item" href="editSecurityMessage">Security Message</a> -->
<!-- 					<div class="collapse-divider"></div> -->
<!-- 					<a class="collapse-item" href="setting2">Setting 2</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</li> -->
		

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
		
		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">
		
		<li class="nav-item">
			<a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
				<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
				<span>Logout</span>
			</a>
		</li>

	</ul>
	<!-- End of Sidebar -->
</div>